:host {
    width: 100%;
    max-width: 500px;
    height: fit-content;
    border-radius: 8px;
    padding: 1rem 1rem 1rem 1rem;
}

form
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label
{
    font-size: 1.3rem;
    font-weight:500;
    flex-direction: column;
    display: flex;
    gap: .5rem;
}

.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    height: fit-content;
}

.title h1{
    font-weight: bold;
    font-size: 2rem;
}



.password-input
{
    display: flex;
    align-items: center;
}

.password-input h1
{
    margin: 0;
    cursor: pointer;
}