<div class="title">
    <h1>Create your account</h1>    
    <p>Let's get started with your 30 days free trial</p>
</div>
<form>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Juan@email.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Confirm email</mat-label>
        <input matInput placeholder="Juan@email.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. Pizza">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput placeholder="Ex. Pizza">
    </mat-form-field>
    <button type="button" class="custome-btn-black">Sing Up</button>
    <div>
        <p>Already have an account? <a href="">Log in</a></p>
        <p>Forgot password? <a href="">Reset</a></p>
    </div>
</form>