table
{
    background-color: white;
    border-radius: 8px;
    border: 2px solid #cccc;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th{
    background-color: #333333;
    color: white;
}

th:nth-child(1)
{
    border-radius: 8px 0px 0px 0px;
}

th:nth-child(4)
{
    border-radius: 0px 8px 0px 0px;
}

tr:nth-child(even){background-color: rgb(248, 248, 248);}

tr:hover {background-color: #cccc;}


.container
{
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #cccc;
}

.container h1
{
    text-align: center;
}