<app-side-nav>
    <div class="page">
        <div class="container">
            <h1><strong>{{settingsOptions == 'store' ? 'Store settings': 'Menu settings' }}</strong></h1>
            <mat-button-toggle-group style="margin-bottom: 2rem;" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle (click)="handleSettingStore()"  value="bold">Store settings</mat-button-toggle>
                <mat-button-toggle (click)="handleSettingMenu()" value="italic">Menu settings</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="settingsOptions == 'store'" class="store-settings" >
                <form [formGroup]="restaurant" class="menu-settings-form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width">
                        <mat-label>Restaurant name</mat-label>
                        <input formControlName="restaurantName" matInput type="text" placeholder="Ex. Pizza place">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Menu URL</mat-label>
                        <input formControlName="menuUrl" type="text" matInput placeholder="nomenu/store/[BusinessName]">
                    </mat-form-field>
                    <div class="img-select-container">
                        <button type="button" (click)="openInput()" class="custome-btn-black">Upload file 📁</button>
                        <input (change)="onImageUpload($event)" accept="image/png, image/gif, image/jpeg" formControlName="file" name="file"  #fileInput hidden='true' type="file">
                        <div class="imagePreview" *ngIf="imageUrl && imageUrl !== ''">
                          <img [src]="imageUrl" alt="Business logo">
                        </div>
                    </div>
                    <div style="display: flex; justify-content: end; margin-top: 1rem;">
                      <button type="submit" class="custome-btn-black" style="width: 80px; background-color: #656565;">💾</button>
                    </div>
                </form>
            </div>
            <div [hidden]="settingsOptions == 'store'" class="menu-settings">
              <div style="display: flex; justify-content: end; margin-bottom: 1rem;">
                <button type="button" class="custome-btn-black btnSmall"><a routerLink="add-item" >Add item</a></button>
              </div>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Id. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Item </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Likes </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Dislikes </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
                
            </div>
        </div>
    </div>
</app-side-nav>