.page
{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.container
{
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}

.menu-settings-form
{
    display: flex;
    flex-direction: column;
}


.img-select-container
{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-color: #F5F5F5;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid #cccc;
}

.custome-btn-black
{
    max-width: 200px;
}