<div class="container">
    <main class="page">
        <header class="img-container">
            <img [src]="fileUrl" alt="">
        </header>
        <div class="sections">
            <h1><strong>{{itemName}}</strong></h1>
            <section>
                <img src="" alt="">
                <h2>Description</h2>
                <p>{{itemDescription}}</p>
                <div class="thumbs">
                    <button (click)="handleLike()" class="custome-btn-black" >👍🏼</button>
                    <button (click)="handleDislike()" class="custome-btn-black">👎🏼</button>
                </div>
            </section>
        </div>
    </main>
</div>
