/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin-top: 0; padding-top: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Global variables */
:root{
    --default-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --medium-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --strong-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --default-gray: #EFF3F6;
}
/* ---- */


.global-input
{
    height: 45px;
    border-radius: 4px;
    border: 2px solid #cccc;
    padding: 0px;
    margin: 0;
    font-size: 1.3rem;
    display: block;
}


.custome-btn-white
{
    height: 45px;
    border-radius: 4px;
    border: 0;
    background-color: white;
    /* border: 2px solid black; */
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
}


.custome-btn-black
{
    height: 56px;
    border-radius: 4px;
    border: 0;
    color: white;
    background-color: black;
    /* border: 2px solid black; */
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s;
}


.custome-btn-black:hover
{
    background-color: rgb(54, 54, 54);
    
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }