<div *ngIf="menuData" class="container">
    <main class="page">
        <header class="img-container">
            <img [src]="storeUrl" alt="">
        </header>
        <div class="sections">
            <h1><strong>{{restaurantName}}</strong></h1>
            <section class="top">
                <h2><strong>Lo más popular</strong></h2>
                <ol class="slider">
                    <li *ngFor="let item of topFive">
                        <img [src]="item.fileUrl" alt="">
                        <h3>{{item.itemName}}</h3>
                    </li>
                </ol>
            </section>
            <section class="menu-section">
                <h2><strong>Menu</strong></h2>
                <ol>
                    <li *ngFor="let  item of menuData">
                        <a routerLink={{item.itemId}} class="menu-item">
                            <div>
                                <h3>{{item.itemName}}</h3>
                                <div>
                                    <p style="text-align: justify;">{{item.itemDescription}}</p>
                                </div>
                            </div>
                            <img [src]="item.fileUrl" alt="">
                        </a>
                    </li>
                </ol>
            </section>
        </div>
    </main>
</div>
