.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.page
{
    min-height: 100%;
    height: fit-content;
    width: 100%;
    max-width: 550px;
    background-color: white;
    box-shadow: var(--default-box-shadow);
}


.img-container
{
    height: 200px;
    width: 100%;
}


.img-container img
{
    aspect-ratio: 2/1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}




h1
{
    font-size: 2.3rem;
    height: 2.3rem;
    margin: 1rem .5rem 2rem .5rem;
}


.slider
{
    height: fit-content;
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 1rem;
    padding: 0 .5rem 0 .5rem;
}


.slider li
{
    height: 100%;
    list-style: none;
    width: 150px;
}

.slider img
{
    height: 150px;
    width: auto;
    aspect-ratio: 1/1;
}

h3
{
    font-weight: bold;
    font-size: 1.3rem;
}


h2{
    font-size: 1.5rem;
}

.top h2
{
    margin: 1rem .5rem 1rem .5rem;
}




.menu-section
{
    margin: 1rem;
}

.menu-section li{
    list-style: none;
}

.menu-section a
{
    color: inherit;
    text-decoration: none;
}


.menu-item
{
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    cursor: pointer;
}

.menu-item img
{
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
}

.menu-item:hover
{
    background-color: var(--default-gray);
}


.menu-item div
{
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.menu-section ol{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}





@media(max-width: 360px)
{
    .menu-item
    {
        flex-direction: column;
        height: fit-content;
        gap: 1rem;
    }
}